<div class="page-header">
    <h1>Ciao {{ login.username }} benvenuto nella pagina prodotti.</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{test[0].imagePath}}">
        <div class="caption">
          <h3>{{test[0].nome}}</h3>
          <p> Descrizione : {{test[0].descrizione}}</p>
          <p>Prezzo: {{test[0].prezzo}}€</p>
          <p><a href="#" class="btn btn-warning" role="button">Acquista</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{test[1].imagePath}}">
              <div class="caption">
                <h3>{{test[1].nome}}</h3>
                <p>Descrizione: {{test[1].descrizione}}</p>
                <p>Prezzo: {{test[1].prezzo}}€</p>
                <p><a href="#" class="btn btn-warning" role="button">Acquista</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{{test[2].imagePath}}">
                  <div class="caption">
                    <h3>{{test[2].nome}}</h3>
                    <p>Descrizione: {{test [2].descrizione}}</p>
                    <p>Prezzo: {{test[2].prezzo}}€</p>
                    <p><a href="#" class="btn btn-warning" role="button">Acquista</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{{test[3].imagePath}}">
                  <div class="caption">
                    <h3>{{test[3].nome}}</h3>
                    <p>Descrizione: {{test [2].descrizione}}</p>
                    <p>Prezzo: {{test[3].prezzo}}€</p>
                    <p><a href="#" class="btn btn-warning" role="button">Acquista</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{{test[4].imagePath}}">
                  <div class="caption">
                    <h3>{{test[4].nome}}</h3>
                    <p>Descrizione: {{test [4].descrizione}}</p>
                    <p>Prezzo: {{test[4].prezzo}}€</p>
                    <p><a href="#" class="btn btn-warning" role="button">Acquista</a></p>
                  </div>
                </div>
              </div>
            
