<!DOCTYPE html>
<html lang="en" ng-app="mrmsApp">
<head>
    <meta charset="UTF-8">
    <title>Avvisami</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <h1 align="center">Avvisami</h1>
        <div class="container">
               
            <div class="page-header">
                
             </div>       

    <div class="container" background-color:transparent>
            <div class="row vertical-offset-100">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 align="center"  class="panel-title"><font color="gold"><b>MRMS STORE</b></font></h3>
                             </div>
                              <div class="panel-body">
                          


      
        <form name="acquisto" method="POST" action='/avvisami'>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome"  class="form-control" required>
            </div>
            <button type="submit" class="btn btn-small btn-danger btn-block">Avvisami!</button>
        </form>
    </div>
</body>
</html>