<section id="carrello" class="content-section text-center"></section>
<div class="carrello-section">
    <div class="container">
            <h2 align="center">Carrello</h2>

            <div class="page-header">
              
           </div>     
                           
                            <form class="form-horizontal" method="POST" action="/acquista">


                              <div class="container">
                                  <div class="row vertical-offset-100">
                                      <div class="col-md-6 col-md-offset-3">
                                          <div class="panel panel-default">
                                                <div class="panel-heading">
                                                  <h3 align="center"  class="panel-title"><font color="gold"><b>MRMS STORE</b></font></h3>
                                               </div>
                                                <div class="panel-body">
                                                    <form accept-charset="UTF-8" role="form">

  

                                <label for="exampleInputName2">Nome Prodotto</label>
                                <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome Prodotto">
                         <br>
                                <label for="exampleInputEmail2">Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email....">
                            <br>
                             <label for="exampleInputText">Quantità</label>
                                <input type="quantita" class="form-control" name="quantita" id="quantita" placeholder="Quantità....">
                              <br>
                              <br>
                              <button type="submit" class="btn btn-primary btn-block">Acquista</button>
                            </form>