<head>
    <meta charset="UTF-8">
    <link rel='stylesheet prefetch' href='https://cdn.cloudcache.dk/materialdesignicons/1.6.50/css/materialdesignicons.min.css'>
    <link rel="stylesheet" href="css/faq.css">
    <script  src="js/faq.js"></script>
</head>
      
<body>
    <div class="container">
        <div class="col-md-4">
            <ul class="list-group help-group">
            <div class="faq-list list-group nav nav-tabs">
                <div href="#tab1" class="list-group-item active" role="tab" data-toggle="tab">Domande Frequenti</div>
                <div href="#tab2" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-account"></i> Il mio account</div>
                <div href="#tab3" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-cart"></i> Negozio Online</div>
                <div href="#tab4" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-star"></i> Avvisami</div>
                <div href="#tab5" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-check"></i> Assistenza</div>
            </div>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="tab-content panels-faq">

                <div class="tab-pane active" id="tab1">
                    <div class="panel-group" id="help-accordion-1">
                        <!-- Template domanda/risposta -->
                        <div class="panel panel-default panel-help">
                            <div href="#uno" data-toggle="collapse" data-parent="#help-accordion-1">
                                <div class="panel-heading">
                                    <h2>Per quanto tempo dura la garanzia di MRMS STORE su un prodotto? Cosa copre  la garanzia?</h2>
                                </div>
                            </div>
                            <div id="uno" class="collapse in">
                                <div class="panel-body">
                                    <p> Per MRMS STORE la prima priorità è la soddisfazione del cliente. Per questo offriamo un anno di garanzia su tutti i prodotti
                                    acquistato dal sito MRMS STORE e da rivenditori autorizzati. Offriamo la possibilità di sostituire, riparare o rimborsare il prodotto, 
                                    a nostra discrezione, con qualsiasi difetto di lavorazione (ma non a causa di danni del cliente). Il cliente è responsabile per il 
                                    costo di spedizione unidirezionale per inviare il prodotto a noi. Per ulteriori domande riguardanti la nostra garanzia di un anno, contattaci.
                                    La nostra politica di garanzia è applicabile solo al proprietario originale del prodotto.          
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Fine template -->

                        <div class="panel panel-default panel-help">
                                <div href="#due" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>Entro quanto tempo risponde l' Assistenza Clienti?</h2>
                                    </div>
                                </div>
                                <div id="due" class="collapse">
                                    <div class="panel-body">
                                        <p> La nostra assistenza clienti risponde entro 24h lavorative dopo aver ricevuto la mail.         
                                        </p>
                                    </div>
                                </div>
                        </div>
      
                                    <div class="panel panel-default panel-help">
                                        <div href="#tre" data-toggle="collapse" data-parent="#help-accordion-1">
                                            <div class="panel-heading">
                                                <h2>Come posso sapere se un prodotto a cui sono interessato/a torna disponibile?</h2>
                                            </div>
                                        </div>
                                        <div id="tre" class="collapse ">
                                            <div class="panel-body">
                                                <p>Per sapere quando un prodotto torna disponibile basta andare nella barra di navigazione in alto ed entrare nella sezione 
                                                    'Avvisami'.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                        <div class="panel panel-default panel-help">
                                <div href="#quattro" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>Non riesco ad accedere al mio account</h2>
                                    </div>
                                </div>
                                <div id="quattro" class="collapse">
                                    <div class="panel-body">
                                        <p>Nel caso in cui il problema sia lo smarrimento di nome utente e/o password basta effettuare il recupero dei dati situato nella pagina del login.
                                            Qualora non si riesca a recuperarli attraverso questa procedura basta contattare l' assistenza ed entro 24h si riceverà una risposta.        
                                        </p>
                                    </div>
                                </div>
                        </div>

                        <div class="panel panel-default panel-help">
                            <div href="#cinque" data-toggle="collapse" data-parent="#help-accordion-1">
                                <div class="panel-heading">
                                    <h2>Ho presentato il mio reclamo in garanzia. Quando riceverò la mia sostituzione?</h2>
                                </div>
                            </div>
                            <div id="cinque" class="collapse">
                                <div class="panel-body">
                                    <p> A. Riceverai una notifica di approvazione / rifiuto sul tuo reclamo entro 24 ore seguito da un numero di riferimento per le sostituzioni
                                        approvate quando gli articoli vengono spediti. Se sono trascorse più di 72 ore dall'invio della richiesta e non hai ricevuto alcuna 
                                        notifica, contatta l'Assistenza clienti MRMS STORE per assistenza.
                                        A. Gli ordini di sostituzione MRMS STORE vengono elaborati entro 2 giorni lavorativi e spediti tramite posta prioritaria del servizio postale
                                        deLL' Italia. Puoi aspettarti di ricevere il tuo acquisto tra 7 e 10 giorni.
                                        Si prega di inviare un reclamo in garanzia tramite il collegamento di garanzia di un anno nella parte inferiore di ciascuna pagina se il
                                        prodotto è stato acquistato dal nostro sito Web.
                                    </p>       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                   
                <div class="tab-pane" id="tab2">
                    <div class="panel-group" id="help-accordion-2">      
                        <div class="panel panel-default panel-help">
                            <div href="#sei" data-toggle="collapse " data-parent="#help-accordion-2">
                                <div class="panel-heading">
                                    <h2>Non riesco ad accedere al mio account</h2>
                                </div>
                            </div>
                            <div id="sei" class="collapse in">
                                <div class="panel-body">
                                    <p>Nel caso in cui il problema sia lo smarrimento di nome utente e/o password basta effettuare il recupero dei dati situato nella pagina del login.
                                        Qualora non si riesca a recuperarli attraverso questa procedura basta contattare l' assistenza ed entro 24h si riceverà una risposta.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab3">
                        <div class="panel-group" id="help-accordion-3">      
                            <div class="panel panel-default panel-help">
                                <div href="#sette" data-toggle="collapse" data-parent="#help-accordion-3">
                                    <div class="panel-heading">
                                        <h2>Ho presentato il mio reclamo in garanzia. Quando riceverò la mia sostituzione?</h2>
                                    </div>
                                </div>
                                <div id="sette" class="collapse in">
                                    <div class="panel-body">
                                        <p>A. Riceverai una notifica di approvazione / rifiuto sul tuo reclamo entro 24 ore seguito da un numero di riferimento per le sostituzioni
                                                approvate quando gli articoli vengono spediti. Se sono trascorse più di 72 ore dall'invio della richiesta e non hai ricevuto alcuna 
                                                notifica, contatta l'Assistenza clienti MRMS STORE per assistenza.
                                                A. Gli ordini di sostituzione MRMS STORE vengono elaborati entro 2 giorni lavorativi e spediti tramite posta prioritaria del servizio postale
                                                deLL' Italia. Puoi aspettarti di ricevere il tuo acquisto tra 7 e 10 giorni.
                                                Si prega di inviare un reclamo in garanzia tramite il collegamento di garanzia di un anno nella parte inferiore di ciascuna pagina se il
                                                prodotto è stato acquistato dal nostro sito Web.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                    <div href="#dieci" data-toggle="collapse" data-parent="#help-accordion-3">
                                        <div class="panel-heading">
                                            <h2>Per quanto tempo dura la garanzia di MRMS STORE su un prodotto? Cosa copre  la garanzia?</h2>
                                        </div>
                                    </div>
                                    <div id="dieci" class="collapse">
                                        <div class="panel-body">
                                            <p> Per MRMS STORE la prima priorità è la soddisfazione del cliente. Per questo offriamo un anno di garanzia su tutti i prodotti
                                            acquistato dal sito MRMS STORE e da rivenditori autorizzati. Offriamo la possibilità di sostituire, riparare o rimborsare il prodotto, 
                                            a nostra discrezione, con qualsiasi difetto di lavorazione (ma non a causa di danni del cliente). Il cliente è responsabile per il 
                                            costo di spedizione unidirezionale per inviare il prodotto a noi. Per ulteriori domande riguardanti la nostra garanzia di un anno, contattaci.
                                            La nostra politica di garanzia è applicabile solo al proprietario originale del prodotto.          
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>

                <div class="tab-pane" id="tab4">
                        <div class="panel-group" id="help-accordion-4">      
                            <div class="panel panel-default panel-help">
                                <div href="#otto" data-toggle="collapse " data-parent="#help-accordion-4">
                                    <div class="panel-heading">
                                        <h2>Come posso sapere se un prodotto a cui sono interessato/a torna disponibile?</h2>
                                    </div>
                                </div>
                                <div id="otto" class="collapse in">
                                    <div class="panel-body">
                                        <p>Per sapere quando un prodotto torna disponibile basta andare nella barra di navigazione in alto ed entrare nella sezione 
                                            'Avvisami'.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="tab-pane" id="tab5">
                        <div class="panel-group" id="help-accordion-5">      
                            <div class="panel panel-default panel-help">
                                <div href="#nove" data-toggle="collapse " data-parent="#help-accordion-5">
                                    <div class="panel-heading">
                                        <h2>Entro quanto tempo risponde l' Assistenza Clienti?</h2>
                                    </div>
                                </div>
                                <div id="nove" class="collapse in">
                                    <div class="panel-body">
                                        <p>La nostra assistenza clienti risponde entro 24h lavorative dopo aver ricevuto la mail.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>    
    </div>
</body>
