 <!--carousel-->
 <div class="container-1">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel" data-slide-to="0" class="active"></li>
              <li data-target="#carousel" data-slide-to="1"></li>
              <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active" style="background-image: url(img/informatica2.jpg)">
                <div class="carousel-caption">
                  
                </div>
              </div>
              <div class="item"style="background-image: url(img/musica3.jpg)" >
                <div class="carousel-caption">
                  
                </div>
              </div>
              <div class="item"style="background-image: url(img/natale.jpg)" >
                  <div class="carousel-caption">
              
            </div>
          </div>
          </div>
          </div>
   <!--carousel-->
   <div class="container-1">
      <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
          </ol>
        
         
                
              </div>
            </div>
            <div class="item"style="background-image: url(img/musica3.jpg)" >
              <div class="carousel-caption">
                
              </div>
            </div>
            <div class="item"style="background-image: url(img/natale.jpg)" >
                <div class="carousel-caption">
            
          </div>
        </div>
        </div>
        </div>
        <!--fine carousel-->
   
    </br>
  </br>
      <div class="container">
        <div class="raw">
        <div class="col-sm-4">
          <div align="center">
            <i class="fa fa-whatsapp fa-3x"></i>
            </div> 
            <h1 align="center">Assistenza</h1>
          <p align="center">Assistenza clienti 24h su 24<br />
           Contattaci per qualsiasi problema </br>
           Utilizza la web-chat</p>
          </div>
          <div class="col-sm-4">
              <div align="center">
                <i class="fa fa-truck fa-3x" aria-hidden="true"></i>
                </div> 
                <h1 align="center">Spedizioni</h1>
              <p align="center">Spedizioni in 24-48h</p>
        </div>
        <div class="col-sm-4">
            <div align="center">
              <i class="fa fa-facebook-square fa-3x"></i>
              </div> 
              <h1 align="center">Visita</h1>
            <p align="center">La nostra pagina per rimanere <br />
              Aggiornato sulle nostre offerte
            </p>
      </div>
        </div>
        </div>