<div class="page-header">
    <h1>Login Utente</h1>
</div>
<form ng-submit="login.doLogin(loginData);">

    <label>Username:</label>
    <input class="form-control"type="text" name="username" placeholder="inserisci username..." ng-model="login.loginData.username">
    <br>
    <label>Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Inserisci la password..." ng-model="login.loginData.password">
    <br>
    <a href="ciao.html"><button class="btn btn-primary" type="submit">Login</button></a>
</form>
<br>
<div class="jumbotron text-center" ng-show="login.loading">
    <i class="fa fa-spinner" aria-hidden="true"></i>
    <p>Loading...</p>
</div>
<br>
<div class="row show-hide-message"ng-show="login.successMsg">
    <div class="alert alert-success">{{login.successMsg}}</div>
</div>
<br>
<div class="row show-hide-message" ng-show="login.errorMsg">
    <div class="alert alert-danger">{{login.errorMsg}}</div>
</div>