
<div class="page-header">
    <h1 align="center">Visualizza Prodotti</h1>
</div>

<br>

<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Lista Prodotti</strong>
    </div>
    <table class="table">
    <tr>
           <th>Nome</th>
           <th>Descrizione</th>
           <th>Prezzo</th>
           <th>Quantita</th>
    </tr>
           <td>{{test[0].nome}}</td>
           <td>{{test[0].descrizione}}</td>
           <td>{{test[0].prezzo}}</td>
           <td>{{test[0].quantita}}</td>
</tr>
<tr>  

        <td>{{test[1].nome}}</td>
        <td>{{test[1].descrizione}}</td>
        <td>{{test[1].prezzo}}</td>
        <td>{{test[1].quantita}}</td>
    </tr>  

    <tr>  
         <td>{{test[2].nome}}</td>
         <td>{{test[2].descrizione}}</td>
        <td>{{test[2].prezzo}}</td>
         <td>{{test[2].quantita}}</td>
    </tr>  
     <tr>  
        <td>{{test[3].nome}}</td>
        <td>{{test[3].descrizione}}</td>
        <td>{{test[3].prezzo}}</td>
        <td>{{test[3].quantita}}</td>
    </tr>  
    <tr>  
            <td>{{test[4].nome}}</td>
            <td>{{test[4].descrizione}}</td>
            <td>{{test[4].prezzo}}</td>
            <td>{{test[4].quantita}}</td>
        </tr>  

        <tr>  
                <td>{{test[5].nome}}</td>
                <td>{{test[5].descrizione}}</td>
                <td>{{test[5].prezzo}}</td>
                <td>{{test[5].quantita}}</td>
            </tr>  



    </table>
 
</div>